// font-family: 'Poppins', sans-serif;
nav {  
    height: 80px;  
    font-family: 'Heebo', sans-serif;
}  

a.nav-link,
span.nav-link {
    color:rgb(144, 144, 144);
    font-size: 20px;
    font-weight: 400;
}

a.nav-link:hover {
    color: orangered;
}

.logo {
    width: 80%;
}

.art-box-bg {   
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.8) 100%); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: color-burn;    
}

.cat-title {
    font-family: 'Heebo', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    width: auto;
    border-bottom: 2px solid yellow;
}

.cat-title:hover {
    color: orangered;
}

.art-title {
    font-family: 'Heebo', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px; 
}

.art-title:hover {
    color: orangered;
}

.feat-art .art-title {
    color: orangered;
}

.feat-art .art-title:hover {
    color: white;
}

.art-descr {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-decoration: none;
}

.art-descr:hover {
    color: gray;
}

// Import Bootstrap v5  
@import "~bootstrap/scss/bootstrap";  