<% @most_popular = Article.most_popular %>
<div class="container-fluid featured-art" style="background-image: url(<%= rails_blob_url(@most_popular.image) %>),
    linear-gradient(351deg, rgba(0,0,0,1) 0%, rgba(130,130,130,0.3981967787114846) 30%);
    ; height: 600px"> 
</div>