<div class="container bg-light" style="min-height:500px">
    <%= form_tag(search_page_path, :method => "get",   
            class: 'navbar-form navbar-left d-flex flex-column align-items-center') do %>
        <div class="btn-group my-4">  
            <div class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
            </div>
            <%= search_field_tag :search, params[:search], placeholder: "Search", class: "btn btn-outline-primary bg-light form-control" %>        
        </div>
    <% end %>
</div>