<% if flash[:notice] %>
  <div class="alert alert-info mt-2 py-0 ps-2" role="alert">
    <p class="pb-0"><%= notice %></p>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-warning mt-2 py-0 pt-2" role="alert">
    <p class="pb-0"><%= alert %></p>
  </div>
<% end %>
