<h1 class="media-bg text-center py-4 mb-0 text-light">  
  <%= @category.name %>
</h1>
<% total_art = @category.articles.all.count %>
<div class="container-fluid">
  <% 0.upto(total_art / 2) do |row| %>
    <%= display_columns(row) %>
  <% end %>
</div>
